<h1>Search for songs!</h1>

<form action="<%= new_song_path %>" method='get'>
  <label for="">
    Title:
    <input type="text" name='title' requiered>
  </label>
  <button>Search</button>
</form>

<% if @song_title.present? %>
  <% @spotify_search.each do |result| %>
    <ul>
      <li>
        <%= image_tag result.album.images.first['url'], :class => 'thumb' %>
        <%= link_to "#{ result.name } - #{ result.artists.first.name }", "showresult/#{ result.id }" %>
      </li>
    </ul>
  <% end %>
<% end %>
